Minerva/Service References/NodeServiceReference/NodeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Minerva.Services/NodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Minerva.Services.Contracts" />
  <xs:element name="GetChildrenInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildrenInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Minerva.Services.Contracts" minOccurs="0" name="GetChildrenInfoResult" nillable="true" type="q1:ArrayOfItemInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Minerva.Services.Contracts" minOccurs="0" name="GetChildrenResult" nillable="true" type="q2:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Minerva.Services.Contracts" minOccurs="0" name="item" nillable="true" type="q3:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Minerva.Services.Contracts" minOccurs="0" name="item" nillable="true" type="q4:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Minerva.Services.Contracts" minOccurs="0" name="GetPropertiesResult" nillable="true" type="q5:ArrayOfItemProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>