Minerva/Service References/NodeServiceReference/NodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NodeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Minerva.Services/NodeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Minerva.Services/NodeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Minerva.Services/NodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Minerva.Services.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INodeService_GetChildrenInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildrenInfo" />
  </wsdl:message>
  <wsdl:message name="INodeService_GetChildrenInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildrenInfoResponse" />
  </wsdl:message>
  <wsdl:message name="INodeService_GetChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildren" />
  </wsdl:message>
  <wsdl:message name="INodeService_GetChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="INodeService_RemoveItem_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItem" />
  </wsdl:message>
  <wsdl:message name="INodeService_RemoveItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemResponse" />
  </wsdl:message>
  <wsdl:message name="INodeService_AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="INodeService_AddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="INodeService_ChangeItem_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeItem" />
  </wsdl:message>
  <wsdl:message name="INodeService_ChangeItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeItemResponse" />
  </wsdl:message>
  <wsdl:message name="INodeService_GetProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProperties" />
  </wsdl:message>
  <wsdl:message name="INodeService_GetProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesResponse" />
  </wsdl:message>
  <wsdl:portType name="INodeService">
    <wsdl:operation name="GetChildrenInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeService/GetChildrenInfo" message="tns:INodeService_GetChildrenInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INodeService/GetChildrenInfoResponse" message="tns:INodeService_GetChildrenInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeService/GetChildren" message="tns:INodeService_GetChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INodeService/GetChildrenResponse" message="tns:INodeService_GetChildren_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeService/RemoveItem" message="tns:INodeService_RemoveItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INodeService/RemoveItemResponse" message="tns:INodeService_RemoveItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeService/AddItem" message="tns:INodeService_AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INodeService/AddItemResponse" message="tns:INodeService_AddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeItem">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeService/ChangeItem" message="tns:INodeService_ChangeItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INodeService/ChangeItemResponse" message="tns:INodeService_ChangeItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeService/GetProperties" message="tns:INodeService_GetProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INodeService/GetPropertiesResponse" message="tns:INodeService_GetProperties_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INodeService" type="tns:INodeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChildrenInfo">
      <soap:operation soapAction="http://tempuri.org/INodeService/GetChildrenInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <soap:operation soapAction="http://tempuri.org/INodeService/GetChildren" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <soap:operation soapAction="http://tempuri.org/INodeService/RemoveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/INodeService/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeItem">
      <soap:operation soapAction="http://tempuri.org/INodeService/ChangeItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProperties">
      <soap:operation soapAction="http://tempuri.org/INodeService/GetProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NodeService">
    <wsdl:port name="BasicHttpBinding_INodeService" binding="tns:BasicHttpBinding_INodeService">
      <soap:address location="http://localhost/Minerva.Services/NodeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>